.about {
  background-color: $aboutBG;
  background-image: url(../img/about.jpg);
  background-position: 17% top;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 132px;
  padding-bottom: 140px;
  &__wrap {
    @include wrapper($pcWidth);
  }
  &__heading,  
  &__text,
  &__signature {
    margin-left: 670px;
  }
  &__heading {
    margin-top: 0;
  }
  &__signature {
    margin-top: 10px;
  }
  
}